/* 顶部导航栏细节补充 */
.nav ul li:last-child {
    top: 10px;
    left: 8.5px;
    border-radius: 10px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.nav ul li:last-child a {
    padding: 0;
    margin: 0;
    line-height: 30px;
}

.nav ul li:last-child:hover {
    background-color: #fff;
    transform: translate(0, -3px);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.33);
}

/* 内容文字背景色修改 */
.nr h2,
.nr p {
    background-color: rgb(228, 230, 232);
}

.content .nr {
    background-color: rgb(228, 230, 232);
}

/* 整体高度调整 */
.w {
    height: 861px;
}

.content .leftbg,
.content .nr,
.content .rightbg {
    height: 386px;
}






/* 内容图片修改 */
/* nr2,nr13-1  */
.nrpic img {
    width: 618px;
}