/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(228, 230, 232);
}

/* 头部开始 */
/* 头部区域背景 */
.header {
    position: relative;
    height: 100px;
    background-color: rgb(115, 86, 177);
}



/* 头部左侧logo */
.header .logo {
    position: absolute;
    top: 8px;
    left: 18px;
    width: 80px;
    height: 80px;
    /* background-color: #fff; */
}

.header .logo a {
    font-size: 0;
}

.header .logo img {
    width: 80px;
    border-radius: 50%;
    border: 2px solid black;
}

/* 头部左侧文字 */
.header .txt {
    cursor: default;
    position: absolute;
    font-family: "方正舒体";
    width: 0;
    height: 42px;
    left: 117px;
    top: 29px;
    /* 文字强制一行显示 */
    white-space: nowrap;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 调用动画 */
    animation: txt 2s steps(11) forwards;
    /* background-color: #fff; */
}

/* 头部左侧打字机动画 */
@keyframes txt {
    0% {
        widows: 0;
    }

    100% {
        width: 352px;
    }
}

/* 头部右侧音乐 */
.header .music {
    position: absolute;
    background-color: #fff;
    height: 54px;
    top: 40px;
    right: 18px;
}

.header .music .txt1 {
    position: absolute;
    top: 1px;
    left: 56px;
    z-index: 1;
    font-weight: 400;
    font-size: small;
    background-color: rgb(241, 243, 244);
}

.header .music .txt1 i {
    font-style: normal;
    font-family: 'icomoon';
}

.header .music audio {
    background-color: rgb(115, 86, 177);
    width: 250px;
    height: 54px;
}

/* 头部右侧更多网页 */
.header .moreweb {
    position: absolute;
    top: 12px;
    right: 22px;
    text-align: center;
    width: 86px;
    border-radius: 12px;
    background-color: rgb(189, 181, 215);
    transition: all 0.2s;
}

.header .moreweb:hover {
    transform: translate(0, -0.5px);
}

.header .moreweb:hover a {
    color: red;
}

/* 头部结束 */

/* 间隙动画开始 */
.jx {
    width: 0;
    height: 3px;
    background-color: red;
    /* 调用动画 */
    animation: move 5s linear 0s infinite alternate;
}

/* 定义间隙动画 */
@keyframes move {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* 间隙动画结束 */


/* 顶部导航栏开始 */
.nav {
    height: 50px;
    background-color: rgb(189, 181, 215);
}

.nav ul li:first-child {
    margin-left: 112px;
}

.nav ul li {
    float: left;
    transition: all 0.2s;
    border-radius: 10px;
    font-size: large;
}

.nav ul li:hover {
    background-color: #fff;
    transform: translate(0, -3px);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.33);
}

.nav ul li:hover a {
    color: rgb(179, 57, 47);
}

.nav ul li:active {
    background-color: rgb(115, 86, 177);
}

.nav ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 100px;
}

/* .内容开始 */

/* 侧边栏开始 */
.content .leftbg {
    float: left;
    width: 130px;
    background-color: rgb(189, 181, 215);
}

.content .leftbg ul li:nth-child(odd) {
    position: relative;
    transition: all 0.2s;
    border-radius: 10px;
    box-sizing: border-box;
}

.content .leftbg ul li:nth-child(even) {
    width: 110px;
    height: 1px;
    margin: 0 auto;
    background-color: black;
}

.content .leftbg ul li:first-child {
    margin-top: 10px;
}

.content .leftbg ul li a {
    display: block;
    padding: 20px 30px;
    transition: all 0.3s;
}

.content .leftbg ul li a::after {
    position: absolute;
    width: 16px;
    height: 16px;
    /* background-color: #fff; */
    top: 23px;
    right: 10px;
    content: "";
    font-family: 'icomoon';
}

.content .leftbg ul li a:hover {
    color: rgb(179, 57, 47);
}

/*  
.content .leftbg ul li a:active::after {
    content: "";
}*/

.content .leftbg ul li:hover {
    background-color: #fff;
    transform: translate(0, -3px);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.33);
}

.content .leftbg ul li:active {
    background-color: rgb(115, 86, 177);
}

/* 侧边栏结束 */
.content .nr {
    float: left;
    width: 940px;
    background-color: #fff;
}

/* 右侧更多信息开始 */
.content .rightbg {
    float: right;
    width: 130px;
    background-color: rgb(189, 181, 215);
}

.content .rightbg ul {
    border-left: 1px solid #000;
    position: relative;
}

.content .rightbg ul li {
    /* text-align: center; */
    box-sizing: border-box;
    padding: 0px 8px;
    /* background-color: #fff; */
    font-size: 14px;
    cursor: default;
}

.content .rightbg ul li a {
    color: red;
    text-decoration: underline;
}

.content .rightbg ul li:nth-child(even) {
    padding: 10px 10px;
}

.content .rightbg ul li:nth-child(odd) {
    box-sizing: border-box;
    margin: 0 auto;
    width: 110px;
    height: 1px;
    background-color: #000;
}

@keyframes color {
    0% {
        background-color: #fff;
        ;
    }

    100% {
        background-color: red;
    }
}

.content .rightbg ul li:last-child {
    position: absolute;
    box-sizing: border-box;
    width: 110px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    top: 674px;
    background-color: #fff;
    left: 10px;
    line-height: 25px;
    font-weight: 600;
    transition: all 0.3s;
    padding: 0;
    /* animation: color 1s linear 0s infinite alternate; */
}

.content .rightbg ul li:last-child a {
    padding: 3px 19px;
    transition: all 0.1.4s;
    text-decoration: none;
    color: #333;
}

.content .rightbg ul li:last-child:hover {
    background-color: #E8EAEE;
    transform: translate(0, -3px);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.33);
    /* animation-play-state: paused; */
}

.content .rightbg ul li:last-child:hover a {
    color: rgb(94, 168, 168);
}




/* 内容结束 */

/* 页脚开始 */
.footer {
    height: 100px;
    background-color: rgb(115, 86, 177);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* 版权信息 */
.footer .bq {
    float: left;
    height: 50px;
    margin: 25px;
    /* background-color: #fff; */
}

.footer .bq footer b p {
    padding-top: 15px;
}

/* 更多网页 */
.footer .more {
    cursor: default;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    height: 50px;
    width: 120px;
    text-align: center;
    background-color: rgb(182, 181, 179);
    border-radius: 15px;
    transition: all 0.2s;
    /* background-color: aquamarine; */
}

.footer .more a {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
}

.footer .more:hover {
    transform: translate(0, -3px);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.33);
}

.footer .more:active a {
    color: #7356B1;
}

/* 页脚3D动画开始 */
.footer .dh {
    position: relative;
}

.footer .dh ul {
    position: absolute;
    width: 660px;
    /* background-color: #fff; */
    top: 14px;
    left: 338px;
}

/* 页脚3d动画盒子模型开始 */
.footer .dh ul li {
    float: left;
    perspective: 600px;
    margin-right: 4px;
}

.footer .dh ul li .boxd {
    position: relative;
    transform-style: preserve-3d;
    width: 128px;
    height: 35px;
    /* background-color: #fff; */
    transition: all 0.2s;
}

.footer .dh ul li .boxd:hover {
    transform: rotateX(90deg);
}

/*  
.footer .dh ul li .boxd:hover .a1,
.footer .dh ul li .boxd:hover .a2 {
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.33);
}*/

.footer .dh ul li .boxd .a1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7356B1;
    transform: translateZ(17.5px);
    transition: all 0.2s;
}

.footer .dh ul li .boxd .a2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 181, 215);
    transform: translateY(17.5px) rotateX(-90deg);
    transition: all 0.2s;
}

.footer .dh ul li .boxd p {
    text-align: center;
    font-size: 14px;
}

/* 页脚3d动画盒子模型结束 */
/* 页脚3D动画结束 */

/* 页脚结束 */

/* 细节补充 */
.nav ul {
    position: relative;
}

.nav ul li:last-child {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    border-bottom-right-radius: 0;
    font-size: 10px;
    line-height: 20px;
    box-shadow: none;
    transform: none;
    width: 100px;
    height: 20px;
    background-color: #F6F6F6;
    cursor: default;
}

.nav ul li:last-child i {
    font-style: normal;
    font-family: 'icomoon';
    transition: all 0.2s;
}

.nav ul li:last-child i:hover {
    color: red;
}

.nav ul li:last-child i:active {
    visibility: hidden;
}